    @font-face {
        font-family: "gothamSSm";
        src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Light_Web.woff2) format("woff2");
        font-weight: "light";
    }
    /* Scroll Effect */
    
    html {
        scroll-behavior: smooth;
    }
    /* hide scrollbar */
    
    body {
        -ms-overflow-style: none;
        /* for Internet Explorer, Edge */
        scrollbar-width: none;
        /* for Firefox */
        overflow-y: scroll;
    }
    
    body::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "gothamSSm";
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
    #Header-Page {
        background: url(../images/Model3-1.jpg) no-repeat center center/cover;
        height: 100vh;
        color: white;
    }
    /* SECTION - 1 */
    /* Navbar */
    
    .Navbar {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 600;
    }
    /* Navbar-Logo */
    
    .Navbar .container-logo {
        width: 12%;
        display: flex;
        justify-content: center;
        margin-left: 80px;
    }
    
    .container-logo .logo {
        width: 100%;
        object-fit: cover;
    }
    /* Navbar - Middle */
    
    .Navbar .Nav-Middle {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .Nav-Middle .Nav-Middle-Links {
        width: 80%;
        display: flex;
        align-items: center;
        list-style: none;
    }
    
    .Nav-Middle .Nav-Middle-Links li {
        width: 100%;
        height: 100%;
        padding: 7px 0;
        border-radius: 15px;
        transition: 0.5s;
    }
    /* Navbar - Right */
    
    .Navbar .Nav-Right {
        width: 20%;
        display: flex;
        align-items: center;
    }
    
    .Nav-Right .Nav-Right-Links {
        display: flex;
        align-items: center;
        list-style: none;
    }
    
    .Nav-Right .Nav-Right-Links li {
        width: 100%;
        height: 100%;
        padding: 7px 10px;
        border-radius: 15px;
        transition: 0.5s;
    }
    /* Hover Navbar */
    
    .Nav-Middle .Nav-Middle-Links li:hover,
    .Nav-Right .Nav-Right-Links li:hover {
        background-color: gray;
        border-radius: 15px;
    }
    /* Navbar-Aside */
    
    aside {
        width: 100%;
    }
    
    aside .Navbar-Aside {
        display: flex;
        flex-direction: row;
        position: relative;
    }
    
    .Navbar-Aside .Nav-Aside-Links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        gap: 5px;
        top: 30%;
        padding: 10px;
    }
    
    .Nav-Aside-Links li {
        height: 25px;
        border-left: 2px solid gray;
        opacity: 0.9;
    }
    /* Hover Aside Navbar */
    
    [data-aside-navbar-titles] {
        position: relative;
        cursor: pointer;
    }
    
    [data-aside-navbar-titles]::after {
        text-align: center;
        box-sizing: border-box;
        content: attr(data-aside-navbar-titles);
        padding: 10px;
        color: #fff;
        transition: 0.2s;
        font-weight: 700;
        font-size: 10px;
        visibility: hidden;
        opacity: 0;
    }
    
    a [data-aside-navbar-titles]:hover::after {
        visibility: visible;
        opacity: 1;
    }
    /* H1 - content */
    
    .TitleHeaderPage {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-top: 75px;
        /* animation */
        opacity: 0;
        animation: BoxAnimation 1s forwards;
        transition: 1s;
    }
    
    .TitleHeaderPage h1 {
        font-size: 40px;
    }
    /* Boxes Header Page  */
    
    .BoxesHeaderPage {
        display: flex;
        width: 100%;
        height: 30%;
        justify-content: center;
        align-items: flex-end;
        margin-top: 310px;
        gap: 35px;
        flex-wrap: wrap;
    }
    
    .BoxesHeaderPage h2 {
        font-size: 24px;
    }
    
    .BoxesHeaderPage p {
        font-size: 12px;
        font-weight: 700;
    }
    
    .BoxesHeaderPage .BoxHeaderPage {
        width: 150px;
        height: 100px;
        text-align: center;
    }
    /* Animation to Boxes - Header Page*/
    
    #mph {
        opacity: 0;
        animation: BoxAnimation 1s forwards;
        transition: 1s;
    }
    
    #Range {
        opacity: 0;
        animation: BoxAnimation 1.5s forwards;
        transition: 1s;
    }
    
    #Motor {
        opacity: 0;
        animation: BoxAnimation 2s forwards;
        transition: 1s;
    }
    
    #OrderHeaderPage {
        opacity: 0;
        animation: BoxAnimation 2.5s forwards;
        transition: 1s;
    }
    
    @keyframes BoxAnimation {
        from {
            transform: translateY(0);
        }
        to {
            opacity: 1;
            transform: translateY(-15px);
        }
    }
    /* BTN ORDER Header Page */
    
    .BtnHeaderPage {
        width: 200px;
        height: 40px;
        border: 3px #fff solid;
        background: transparent;
        border-radius: 20px;
        color: #fff;
        transition: 0.5s;
        cursor: pointer;
        font-weight: 600;
    }
    
    .BtnHeaderPage:hover {
        background-color: #fff;
        color: black;
    }
    /* Scroll Chevron down  & animation - Header Page */
    
    .ScrollChevron {
        display: flex;
        justify-content: center;
        width: 100%;
        animation: ScrollChevronDown 1.5s infinite;
    }
    
    @keyframes ScrollChevronDown {
        0% {
            transform: inherit;
        }
        33% {
            transform: translateY(-5px);
        }
        66% {
            transform: inherit;
        }
    }
    /* Chat */
    
    .Chat {
        width: 100%;
        position: relative;
        display: flex;
    }
    
    .Chat .ChatButton {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 12%;
        right: 2%;
        background-color: #fff;
        border: 0.5px solid rgb(66, 63, 63);
        border-radius: 50%;
        height: 50px;
        width: 50px;
        padding: 6px;
        z-index: 1;
    }
    /* SECTION - 2 */
    
    #Safety-Page {
        background-color: #f4f4f4;
        height: 100vh;
    }
    
    #Safety-Page .Page-2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    /* Left Side Page 2 */
    
    .Page-2 .LeftSideImg {
        width: 70%;
        height: 100%;
        background: url(../images/model3-2.png) center center/cover;
        display: flex;
        justify-content: center;
    }
    /* Border & Circle on Img Page 2 */
    
    .LeftSideImg .BoxesSafetyPage {
        width: 40%;
        height: 100%;
        position: relative;
    }
    
    .BoxesSafetyPage .Box-1-SafetyPage {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 100%;
        top: -15%;
    }
    /* Title Boxes Page 2 */
    
    .Box-1-SafetyPage::after {
        content: "Impact Protection";
        font-weight: 700;
        font-size: 12px;
        position: absolute;
        right: -5%;
        top: 39%;
        animation-name: TitleUp;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    /* Animation Title Up & Down */
    /* Up */
    
    .Box-1-SafetyPage::after,
    .Box-3-SafetyPage::after {
        animation: TitleUp 3s forwards;
    }
    
    @keyframes TitleUp {
        from {
            transform: inherit;
        }
        to {
            transform: translateY(-20px);
        }
    }
    
    .Box-2-SafetyPage::after {
        content: "Rigid Structure";
        font-weight: 700;
        font-size: 12px;
        position: absolute;
        bottom: 28%;
        right: 23%;
        animation: TitleDown 3s forwards;
    }
    /* Down */
    
    @keyframes TitleDown {
        from {
            transform: inherit;
        }
        to {
            transform: translateY(20px);
        }
    }
    
    .Box-3-SafetyPage::after {
        content: "Very Low Rollover Risk";
        font-weight: 700;
        font-size: 12px;
        position: absolute;
        right: -39%;
        top: 28%;
    }
    
    .BoxesSafetyPage .Box-2-SafetyPage {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        right: 20%;
        top: 10%;
    }
    
    .BoxesSafetyPage .Box-3-SafetyPage {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        right: 30%;
        top: -15%;
    }
    
    .Circle {
        border: 3px solid black;
        background-color: #fff;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
    
    .BorderTop {
        border-left: 4px solid black;
        height: 200px;
    }
    
    .BorderLittle {
        border-left: 4px solid black;
        height: 120px;
    }
    /* Border Animation  Page 2*/
    
    #ImpactProtectionBorder {
        animation: BorderAnimation 3s forwards;
        transform-origin: bottom;
    }
    
    #RigidStructureBorder {
        animation: BorderAnimation 3s forwards;
        transform-origin: bottom;
    }
    
    #VeryLowRolloverRiskBorder {
        animation: BorderAnimation 3s forwards;
        transform-origin: top;
    }
    
    @keyframes BorderAnimation {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    /* Right Side Page 2 */
    
    .Page-2 .RightSideText {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 110px;
        color: #393c41;
        font-size: 14px;
        font-weight: 500;
        /* animation */
        opacity: 0;
        animation: BoxAnimation 1s forwards;
        transition: 1s;
    }
    
    .TitleRightSideText {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .TitleRightSideText h1 {
        color: black;
    }
    
    .TitleRightSideText span {
        font-size: 18px;
    }
    
    .RightSideText .BoxTextPage2 {
        width: 75%;
        height: 60%;
    }
    
    .RightSideText .Order-Safety-Page {
        width: 90%;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    /* Buttons Order Page 2 */
    
    .Order-Safety-Page .PlusBtn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 3px solid black;
        cursor: pointer;
        font-size: 26px;
        transition: 0.5s;
    }
    
    .Order-Safety-Page .OrderText {
        height: 45px;
        display: flex;
        align-items: center;
        color: #393c41;
        font-size: 14px;
        font-weight: 700;
    }
    
    .Order-Safety-Page .OrderBtn {
        width: 220px;
        height: 45px;
        border-radius: 20px;
        border: 3px solid black;
        cursor: pointer;
        font-weight: 700;
        transition: 0.5s;
    }
    /* Hover Buttons Order Page 2 */
    
    .Order-Safety-Page .PlusBtn:hover,
    .Order-Safety-Page .OrderBtn:hover {
        background-color: black;
        color: #fff;
    }
    /* SECTION - 3 */
    
    #Performance-Page {
        background-color: #fff;
        height: 100vh;
    }
    
    #Performance-Page .Page-3 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .Page-3 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    /* Background Img - Page 3 */
    
    .Page-3 .PerformancePage-BackgroundImg {
        width: 100%;
        height: 60vh;
        background: url(../images/model3-3.jpg) center center/cover;
    }
    /* Boxes Page 3 */
    
    .BoxesPerformancePage {
        display: flex;
        width: 100%;
        height: 15%;
        justify-content: center;
        align-items: flex-end;
        margin-top: 320px;
        color: #fff;
        gap: 20px;
    }
    
    .BoxesPerformancePage .BoxPerformancePage {
        width: 20%;
        height: 100%;
        text-align: center;
    }
    
    .BoxPerformancePage p {
        font-size: 14px;
        font-weight: 500;
    }
    /* Boxes animation Page 3 */
    
    #mphPerformance {
        opacity: 0;
        animation: BoxAnimation 1.5s forwards;
        transition: 1s;
    }
    
    #RangePerformance {
        opacity: 0;
        animation: BoxAnimation 2s forwards;
        transition: 1s;
    }
    
    #MotorPerformance {
        opacity: 0;
        animation: BoxAnimation 2.5s forwards;
        transition: 1;
    }
    /* Bottom - Page 3 */
    
    .Page-3 .Bottom-Page-3 {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    /* Order Performance Page 3 */
    
    .OrderPerformance .TitlePerformance {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .TitlePerformance h1 {
        color: black;
    }
    
    .TitlePerformance span {
        font-size: 18px;
    }
    
    .Bottom-Page-3 .OrderPerformance {
        width: 40%;
        height: 40%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        /* animation */
        opacity: 0;
        animation: BoxAnimation 1s forwards;
        transition: 1s;
    }
    
    .OrderPerformance #Order-Performance-Page {
        display: flex;
        gap: 20px;
    }
    /* Text Performance Page 3 */
    
    .Bottom-Page-3 .TextPerformance {
        width: 60%;
        height: 37%;
        font-size: 14px;
        color: #393c41;
        /* animation */
        opacity: 0;
        animation: BoxAnimation 1.5s forwards;
        transition: 1s;
    }
    
    .TextPerformance .BoxTextPerformance {
        width: 80%;
        padding: 40px;
    }
    /* Section 4 */
    
    #AllWheelDrive-Page {
        background-color: #fff;
        height: 100vh;
    }
    
    #AllWheelDrive-Page .Page-4 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    /* Background Img - Page 4 */
    
    .Page-4 .AllWheelDrive-Page-BackgroundImg {
        width: 100%;
        height: 73vh;
        background: url(../images/model3-4.jpg) center center/cover;
    }
    /* Boxes Page 4 */
    
    .BoxesAllWheelDrive-Page {
        display: flex;
        width: 100%;
        height: 8%;
        justify-content: center;
        align-items: flex-end;
        margin-top: 420px;
        color: #fff;
        gap: 40px;
    }
    
    .BoxesAllWheelDrive-Page .BoxAllWheelDrive-Page {
        width: 16%;
        height: 100%;
        text-align: center;
    }
    
    .BoxAllWheelDrive-Page p {
        font-size: 12px;
        font-weight: 600;
    }
    /* Boxes animation Page 4 */
    
    #mphAllWheelDrive {
        opacity: 0;
        animation: BoxAnimation 1.5s forwards;
        transition: 1s;
    }
    
    #RangeAllWheelDrive {
        opacity: 0;
        animation: BoxAnimation 2s forwards;
        transition: 1s;
    }
    
    #MotorAllWheelDrive {
        opacity: 0;
        animation: BoxAnimation 2.5s forwards;
        transition: 1;
    }
    /* Bottom - Page 3 */
    
    .Page-4 .Bottom-Page-4 {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    /* Order AllWheelDrive-Page Page 4 */
    
    .OrderAllWheelDrive .TitleAllWheelDrive {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .TitleAllWheelDrive h1 {
        color: black;
    }
    
    .TitleAllWheelDrive span {
        font-size: 18px;
    }
    
    .Bottom-Page-4 .OrderAllWheelDrive {
        width: 40%;
        height: 40%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        /* animation */
        opacity: 0;
        animation: BoxAnimation 1s forwards;
        transition: 1s;
    }
    
    .OrderAllWheelDrive #Order-AllWheelDrive {
        display: flex;
        gap: 20px;
    }
    /* Text Page 4 */
    
    .Bottom-Page-4 .TextAllWheelDrive {
        width: 60%;
        height: 37%;
        font-size: 14px;
        color: #393c41;
        /* animation */
        opacity: 0;
        animation: BoxAnimation 1.5s forwards;
        transition: 1s;
    }
    
    .TextAllWheelDrive .BoxTextAllWheelDrive {
        width: 80%;
        padding: 40px;
    }